<div class="post">
  <div class="post-header">
    <%= image_tag post_avatar(post.user), class: "user-avatar" %>
    <div class="header-text">
      <h3 class="user-name text-bold">
        <%= link_to "#{post.user.username}", post.user.username, class: "text-bold no-underline" %>
      </h3>
      <p class="text-lead">Russia, Moscow</p>
    </div>
  </div>
  <%= image_tag post.images.url, class: "post-image" %>
  <div class="post-footer">
    <div class="actions">
      <%= inline_svg 'like.svg', class: "like-action unliked" %>
      <%= inline_svg 'comment.svg' %>
      <%= inline_svg 'share.svg' %>
      <!-- place for save tag -->
    </div>
    <div class="post-desc">
      <h3 class="text-bold like-counter"><%= rand(189) %> likes </h3>
      <%= render partial: "posts/partials/comments", locals: {post: post} %>
    </div>
  </div>
</div>
