<div class="regular-container profile">
  <div class="grid-container" id="userProfile">
    <%= render partial: "profile_avatar", locals: {user: @user} %>
    <div class="grid-profile">
      <div class="flex-row">
        <h2 id="userName"><%= @user.username %></h2>
        <% if user_signed_in? %>
          <%= render partial: "follow", locals: {user: @user} %>
          <%= render partial: "edit_profile", locals: {user: @user} %>
          <%= render partial: "sign_out", locals: {user: @user} %>
        <% end %>
      </div>
      <div class="grid-three-columns" style="margin: 18px 0">
        <h2 class="text-stats"><span class="text-bold"><%= @user.posts_count %></span> posts</h2>
        <h2 class="text-stats"><span class="text-bold"><%= @user.followers_counter %></span> followers</h2>
        <h2 class="text-stats"><span class="text-bold"><%= @user.followings_counter %></span> following</h2>
      </div>
      <div id="userStatus">
        <%= auto_link(simple_format(@user.status)) %>
      </div>
    </div>
  </div>
</div>

<div class="regular-container">
  <div class="add-button-container">
    <%= link_to new_post_path, remote: true do %>
      <%= inline_svg "add.svg" %>
    <% end %>
  </div>
  <ul class="profile-menu">
    <li class="text-lead-bold active">Posts</li>
    <li class="text-lead-bold">Tagged</li>
  </ul>
</div>

<div class="container">
  <div class="grid-container grid-three-columns user-posts">
    <% @posts.each do |post| %>
      <%= render partial: "posts/partials/post_to_profile", locals: {post: post} %>
    <% end %>
  </div>
</div>


<div class="show-post">
</div>
