<div class="profile-container">
  <div class="grid-container grid-three-columns" id="userProfile">
    <%= image_tag "default.png", id: "userAvatar", alt: "userAvatar" %>
    <div class="grid-profile">
      <div class="flex-row">
        <h2 id="userName"><%= "@#{@user.username}" %></h2>
        <%= render partial: "follow", locals: {user: @user} %>
      </div>
      <div class="grid-three-columns">
        <h2 id="userPublications"><%= @user.posts.count %></h2>
        <h2 id="userFollowers"><%= @user.followers.count %></h2>
        <h2 id="userFollowing"><%= @user.following.count %></h2>
      </div>
      <div id="userStatus">
        <%= simple_format(@user.status) %>
        sfd
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="grid-container grid-three-columns user-posts">
    <% @posts.each do |post| %>
    <%= render partial: "posts/partials/post_to_profile", locals: {post: post} %>
    <% end %>
  </div>
</div>
