<script type="text/javascript">
function remove(toRemove) {
  toRemove.remove()
  $('body').removeClass("block-scroll")
}
</script>


<div class="overlay-on-profile">
  <%= image_tag @post.images.url, id: "cropbox" %>

  <%= form_for @post do |f| %>
    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
    <%= f.submit "Crop" %>
  <% end %>

  <%= image_tag("cross.svg", class: "remove-overlay-cross",  :onClick => "remove(this.parentNode)".html_safe) %>
</div>
