<div class="header">
  <div class="regular-container">
    <div class="header-flex">
      <%= link_to root_path, class: "logo" do %>
        <%= inline_svg "inst-logo.svg", id: "inst-logo" %>
        <%= image_tag "instagram-writing.svg", id: "inst-writing" %>
      <% end %>
      <div class="search">
        <div class="search-container">
          <span class="search-icon">
            <%= inline_svg "search.svg", id: "search" %>
          </span>
          <%= form_with url: search_path, local: true, method: :get, html: {class: "search-form"} do |form| %>
            <%= form.text_field :q, placeholder: "Search", data: "autocomplete", id: "searchBox" %>
          <% end %>
          <!--<input placeholder="Search" id="searchBox"/>-->
        </div>
      </div>
      <div class="actions">
        <%= inline_svg "like.svg" %>
        <%= link_to current_user do %>
          <%= inline_svg "profile.svg", id: "profile-svg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
