<!DOCTYPE html>
<html>
  <head>
    <title>Inst</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open-Sans|Nunito+Sans|Open+Sans|Roboto|Work-Sans|Mukta|Heebo" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  </head>

  <body>
    <%= render "layouts/header" if controller_name != "sessions" %>
    <%= yield %>
    <%= yield :crop %>
  </body>
</html>
