<!DOCTYPE html>
<html>
  <head>
    <title>Inst</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open-Sans|Nunito+Sans|Open+Sans|Roboto|Work-Sans|Mukta|Heebo" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  </head>

  <body>
    <%= render "layouts/header" if controller_name != "sessions" %>
    <div class="regular-container">
      <div class="edit-profile">
        <ul class="aside-menu">
          <li class="text-bold"><%= link_to "Edit Profile", edit_user_registration_path(change_password: false), method: :get %></li>
          <li class="text-bold"><%= link_to "Change Password", edit_user_registration_path(change_password: true), method: :get %></li>
        </ul>
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
